 <div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Admin</div>
    <div class="list-group list-group-flush">

      <span (click) = "list()" style="cursor:pointer" class="list-group-item list-group-item-action bg-light">Users</span>
      <span (click) = "country()" style="cursor:pointer" class="list-group-item list-group-item-action bg-light">Country</span>

    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div style="width: 50%; float:left">
        <button class="btn btn-info" id="menu-toggle">Menu</button>
     </div>
     <div style="width: 50%; float:right; text-align: right;">
      <span style="float:right; cursor:pointer" (click)="logout()" class="pull-right;">Logout</span>
     </div>
    </nav>

    <div class="container-fluid">
      <div [ngSwitch]="menuitem">
        <span *ngSwitchCase="'country'">
       <app-country></app-country>
      </span>
      <span *ngSwitchCase="'list'">
        <app-list></app-list>
       </span>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
